.parentDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imgDiv {
  /* width: 100%; */
  display: flex;
  flex: 1 1 0;
  /* padding: 2rem; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.imgDiv img {
  border-radius: 0.5rem;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.productOption {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}
