.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  background-color: purple;
  width: 30%;
  height: 450px;
  border-radius: 1rem;
  /* color: white; */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.title {
  color: white;
  font-size: 35px;
}
.nameInput {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  width: 25%;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  /* justify-content: center; */
}
.inp {
  margin-top: 0.5rem;
  border-radius: 5px;
  outline: none;
  padding-left: 0.5rem;
  border: 2px solid silver;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.inp:focus {
  border: 2px solid #8a4af3;
  transform: scale(1.02);
  transition: all 0.2s ease-in;
}
.btn {
  /* margin-top: 1rem; */
  color: white;
  background-color: #8a4af3;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  padding: 0.5rem;
  width: 110px;
}
.btn:hover {
  transform: scale(1.1);
  transition: all 0.15s ease-in;
  cursor: pointer;
}
