@tailwind base;
@tailwind components;
@tailwind utilities;
.arrows .slick-prev {
  z-index: 1;
  left: 30px;
}
.arrows .slick-next {
  z-index: 1;
  right: 30px;
}
.arrows .slick-dots {
  bottom: 10px;
}
